<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Episodes</title>
</head>
<body>
    <h1>btth</h1>
    <hr>
    {% for episode in episodes %}
        <p>Link: <a href="{{ episode.link }}">{{ episode.link }}</a>, <br>
            <form method="POST">

                {% csrf_token %}
                <input type="hidden" name="url" value="{{ episode.link }}">
                <input type="hidden" name="title" value="{{ episode.title }}">
                Title: {{ episode.title }}</p>
                <button>watch</button>
            </form>
           
    {% endfor %}
</body>
</html>
